@using WikY.Models.Comment
@model CommentCreateViewModel

@{
    ViewData["Title"] = "Comment article";
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<p><a class="btn btn-secondary" asp-controller="Article" asp-action="View" asp-route-id="@Model.ArticleId">Back to article</a></p>

<h1>Comment an article</h1>

<partial name="_CommentCreateForm" model="Model" />
