@model ArticleViewModel

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<p><a class="btn btn-secondary" asp-action="Index" role="button">Back to list</a></p>

<form asp-action="Create" id="article-create-form">
    <partial name="_ArticleEditFormBody" model="Model" />
</form>

<p><a class="btn btn-secondary" asp-action="Index" role="button">Back to list</a></p>