@using WikY.Models.Article
@model ArticleCreateViewModel

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<p><a class="btn btn-secondary" asp-action="Index" role="button">Back to list</a></p>

<form asp-action="Create" id="article-create-form">   
    <p>
        <label asp-for="Author">
            <span>Author </span>
            <span aria-label="required">*</span>
            <span> :</span>
        </label>
        <input asp-for="Author" id="author-input" />
        <br />
        <span id="author-validation-message" asp-validation-for="Author" class="validation-error"></span>
    </p>
    <p>
        <label asp-for="Topic">
            <span>Topic </span>
            <span aria-label="required">*</span>
            <span> :</span>
        </label>
        <input asp-for="Topic" id="topic-input" />
        <br />
        <span id="topic-validation-message" asp-validation-for="Topic" class="validation-error"></span>
    </p>
    <p>
        <label asp-for="Content">
            <span>Content </span>
            <span aria-label="required">*</span>
            <span> :</span>
        </label>
        <textarea asp-for="Content" id="content-input"></textarea>
        <br />
        <span id="content-validation-message" asp-validation-for="Content" class="validation-error"></span>
    </p>
    <p>
        <button class="btn btn-primary" type="submit" id="submit-button">Submit</button>
    </p>
</form>

<p><a class="btn btn-secondary" asp-action="Index" role="button">Back to list</a></p>