@using WikY.Models.Article
@using WikY.Models.Modal
@model IEnumerable<ArticleViewModel>

@{
    ViewData["Title"] = "Articles list";
}

@section Scripts
{
    <script src="~/js/delete_article_from_list.js" defer></script>
    <script src="~/js/search_articles.js" defer></script>
}

<p><a class="btn btn-primary" asp-action="Create" role="button">Create article</a></p>

<partial name="_Modal" model="@(new ModalViewModel { Id = "delete-article-modal", Title = "Delete article", Body = "Are you sure you want yo delete this article?", OnYesJavascript = "deleteSelectedArticle()", OnNoJavascript = "unselectCurrentArticle()" })" />

<partial name="_ArticleSearchBar" />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Topic</th>
            <th scope="col">Author</th>
            <th scope="col">Created on</th>
            <th scope="col">Last modified on</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody id="articles-list">
        <partial name="_ArticlesList" model="Model" />
    </tbody>
</table>

<p><a class="btn btn-primary" asp-action="Create" role="button">Create article</a></p>
