@using WikY.Models.Article
@using WikY.Models.Comment
@model ArticleViewModel

@if (Model.Comments.Count > 0)
{
    foreach (CommentViewModel comment in Model.Comments)
    {
        <div class="card article-comment">
            <div class="card-header">
                <p>On @comment.DateCreated.ToShortDateString() at @comment.DateCreated.ToShortTimeString() by @comment.Author</p>
            </div>
            <div class="card-body">
                <p>@comment.Content</p>
            </div>
        </div>
    }
}
else
{
    <p>No comment for now on this article.</p>
}
