@using WikY.Models.Comment
@model CommentCreateViewModel

<form asp-controller="Comment" asp-action="CreateForArticle" id="create-comment-form">
    <p class="hidden">
        <input type="hidden" asp-for="ArticleId" />
    </p>
    <p>
        <label asp-for="Author">
            <span>Author </span>
            <span aria-label="required">*</span>
            <span> :</span>
        </label>
        <input asp-for="Author" id="author-input" />
        <br />
        <span asp-validation-for="Author" class="validation-error"></span>
    </p>
    <p>
        <label asp-for="Content">
            <span>Content </span>
            <span aria-label="required">*</span>
            <span> :</span>
        </label>
        <textarea asp-for="Content" id="content-input"></textarea>
        <br />
        <span asp-validation-for="Content" class="validation-error"></span>
    </p>
    <p>
        <button class="btn btn-primary" type="submit" id="submit-button">Submit</button>
    </p>
</form>