@using WikY.Models.Article
@model ArticleViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome on WikY</h1>

<h3>Last article</h3>

<partial name="_ArticleView" model="Model" />

<p><a asp-controller="Article" asp-action="View" asp-route-id="@Model.Id">Read article</a></p>
